main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loader__container {
  margin: 70px 0 50px;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 80px; /* Tamanho do container */
  height: 80px;
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading__text {
  font-family: sans-serif;
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader__vertical {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Espaço entre o círculo e o texto */
  font-family: sans-serif;
}

.spinner__simple {
  width: 30px;
  height: 30px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db; /* Cor verde */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
